::ng-deep snack-bar-container.snackbar-fail{
    background-color: #9F1233 !important;
    color:white !important;
    border-radius: 5px 5px 0 0 !important; 
    font-weight: bold !important;
}

::ng-deep snack-bar-container.snackbar-success{
    background-color: #004F18 !important;
    color:white !important;
    border-radius: 5px 5px 0 0 !important; 
    font-weight: bold !important;
}