<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">

      <label for="userID">
        User email :
      </label>
      <input type="text" class="form-control" name="userEmail" ngModel required>

      <label for="userPwd">
        Password :
      </label>
      <input type="password" id="userPwd" class="form-control" name="userPwd" ngModel required>
    </div>


    <div class="row" style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; margin: 50px auto;">
      <button class="btn" type="submit" [disabled]="f.invalid">Log In</button>
      
    </div>
  </form>

  <button class="btn" [routerLink]="['/users/new']">New user</button>

</div>