<div class="container" style="margin-bottom: 50px; margin-top:5px">
  <button mat-button [matMenuTriggerFor]="Users" class="btn" [disabled]="!isAuth">Users</button>
  <mat-menu #Users="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['/users']">User list</button>
    <button mat-menu-item [routerLink]="['/users/new']">New user</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="Complaints" class="btn"  [disabled]="!isAuth">Complaints</button>
  <mat-menu #Complaints="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [matMenuTriggerFor]="userComplaints">My complaints</button>
    <button mat-menu-item [routerLink]="['/complaints/new']">New complaint</button>
  </mat-menu>

  <mat-menu #userComplaints="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['/complaints/received']">Received complaints</button>
    <button mat-menu-item [routerLink]="['/complaints/sent']">Sent complaints</button>
    <button mat-menu-item [routerLink]="['/complaints']">All my complaints</button>
  </mat-menu>

  <button class="btn" style="float: right;" (click)=logOut()  [disabled]="!isAuth">Log out</button>
</div>